*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
}
nav{
    width: 90%;
    height: 100px;
    margin:20px auto 0px;
    text-align: center;
    background-color: rgb(45, 45, 45);
    border-bottom: 10px solid rgb(0, 225, 255);
}
nav h1{
    font-size: 40px;
    padding-top: 30px;
}
.image{
    margin:0px  5%;
    padding:0px 2%;
    background-color: rgb(80, 80, 80);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
}
.image div {
    padding: 10px 0px;
}
.image img{
    height: 100%;
    width: 100%;
}
.blank{
    background-color: darkslategrey;
}
footer{
    width: 90%;
    height: 200px;
    margin:0px auto 20px;
    text-align: center;
    background-color: rgb(45, 45, 45);
    border-top: 10px solid rgb(0, 225, 255);
    
}
footer div{
    font-size: 30px;
    padding-top: 80px;
}
@media only screen and (min-width: 0px) and (max-width: 768px){
    .image{
        margin:0px 5%;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}