* {
    margin: 0rem;
    padding: 0rem;
    outline: none;
}

.main-about {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(background.jpg);
    background-position: center;
    background-size: cover;
}

/******** For Navbar **********/

.navbar {
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

/********* For Navbar Logo *********/
.logo {
    width: 10%;
    text-align: center;
}

.logo img {
    margin-top: 5%;
    width: 6rem;
    height: 4rem;
}

/********* For Navbar search *********/
.search {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search input[type="text"] {
    border-radius: 1rem;
    padding: 0.4rem 1.5rem;
    border: 1.5px solid white;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    outline: none;
    box-shadow: inset 2px 2px 5px rgb(0, 0, 0);
}

.search a {
    background: none;
    border: none;
}

.fa-search {
    cursor: pointer;
    text-shadow: 3px 3px 3px black;
    color: white;
    font-size: 1.4rem;
    padding-left: 0.5rem;
}

/********* Navbar search end *********/
/********* For Navbar nav *********/
.nav {
    width: 70%;
}

.nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 2% 6%;
}

.nav ul li {
    margin-right: 2rem;
}

.nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.05rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 1px 5px black;

}

.nav ul li::after {
    content: "";
    width: 0%;
    height: 3px;
    display: block;
    background: #f44336;
    margin: auto;
    transition: 0.5s;
}

.nav ul li:hover::after {
    width: 100%;
}

/********* For Navbar nav end *********/
/********* Navbar End *********/
/********* About Page Start **********/
.about {
    margin-top: 7%;
}

.about h1 {
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 3rem;
    text-align: center;
}

/********* About Page end **********/
/* For Other Divices */
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    /********* For Navbar Logo *********/

    .logo img {
        margin-top: 5%;
        width: 5.8rem;
        height: 3.8rem;
    }

    /********* Media Navbar search *********/

    .search input[type="text"] {
        border-radius: 1rem;
        padding: 0.3rem 1.3rem;
    }

    .fa-search {
        cursor: pointer;
        text-shadow: 3px 3px 3px black;
        color: white;
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }

    /********* For Navbar nav *********/

    .nav ul li {
        margin-right: 1.8rem;
    }

    .nav li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.03rem;
        font-family: 'Poppins', sans-serif;
        text-shadow: 3px 1px 5px black;
    }

    /********* About Page Start **********/
    .about {
        margin-top: 6.8%;
    }

    .about h1 {
        font-size: 2.8rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    /********* For Navbar Logo *********/

    .logo img {
        margin-top: 5%;
        width: 5.6rem;
        height: 3.6rem;
    }

    /********* For Navbar nav *********/

    .nav ul li {
        margin-right: 1.6rem;
    }

    .nav li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.01rem;
        font-family: 'Poppins', sans-serif;
        text-shadow: 3px 1px 5px black;

    }

    /********* Media Navbar search *********/

    .search input[type="text"] {
        border-radius: 1rem;
        padding: 0.2rem 1.2rem;
    }

    .fa-search {
        cursor: pointer;
        text-shadow: 3px 3px 3px black;
        color: white;
        font-size: 1.1rem;
        padding-left: 0.5rem;
    }

    .about {
        margin-top: 6.6%;
    }

    .about h1 {
        font-size: 2.6rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    /********* For Navbar Logo *********/

    .logo img {
        margin-top: 5%;
        width: 5.4rem;
        height: 3.4rem;
    }

    /********* Media Navbar search *********/

    .search input[type="text"] {
        border-radius: 1rem;
        padding: 0.2rem 1.1rem;
    }

    .fa-search {
        cursor: pointer;
        text-shadow: 3px 3px 3px black;
        color: white;
        font-size: 1.1rem;
        padding-left: 0.5rem;
    }

    /********* For Navbar nav *********/

    .nav ul li {
        margin-right: 1.4rem;
    }

    .nav li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.rem;
        font-family: 'Poppins', sans-serif;
        text-shadow: 3px 1px 5px black;

    }

    .about {
        margin-top: 6.4%;
    }

    .about h1 {
        font-size: 2.4rem;
    }
}
/* history section */
.blog-sec{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 5rem 0rem;
}
.blog-sec h2{
    margin: 2% 0% 10%;
    font-size: 4rem;
    text-decoration: underline;
}
.blog-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 0% 10%;
}
.blog-col h1{
    font-size: 1.6rem;
}
.blog-col p{
    padding:1rem 0rem 0.5rem;
    font-size: 1.1rem;
}
.blog-col img{
    width: 500px;
    height: 275px;
}
@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .blog-sec h2{
        font-size: 3.8rem;
    }
    .blog-col h1{
        font-size: 1.4rem;
    }
    .blog-col p{
        padding: 1.2rem 0rem 0.5rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .blog-sec h2{
        font-size: 3.6rem;
    }
    .blog-col h1{
        font-size: 1.2rem;
    }
    .blog-col p{
        padding: 2rem 0rem 0.5rem;
        font-size: 0.9rem;
    }
    .blog-col img{
        width: 450px;
        height: 250px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .blog-sec h2{
        font-size: 3.4rem;
    }
    .blog-col h1{
        font-size: 1rem;
    }
    .blog-col p{
        padding:1rem 0rem 0.5rem;
        font-size: 0.8rem;
    }
    .blog-col img{
        width: 450px;
        height: 225px;
    }
}
/* Facilities Page Start */
.facilities {
    background-color: #f0f0f0;
    width: 100%;
    padding: 5rem 0rem;
}

.facilities-header {
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}

.facilities-p {
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 10rem;
}

.facilities-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 0% 10%;
}


.facilities-col {
    background-color: rgb(213, 235, 254);
    border: 2px solid #f44336;
    position: relative;
    overflow: hidden;
    border-radius: 0.4rem;
    transition: 0.5s;
}

.facilities-col:hover {
    box-shadow: none;
    box-shadow: 0px 0px 20px 0px black;
}

.facilities-col img {
    width: 99%;
    height: 200px;
    display: block;
    margin: 0.1rem auto 0rem;
    box-shadow: 0px 0px 10px 0px black;
}

.facilities-col h3 {
    color: #1d1d1d;
    font-size: 1.3rem;
    text-align: center;
    box-shadow: 0px -2px 3px #006eff;
    padding: 0.5rem;
    margin: 0.3rem 0rem 0rem;
    text-decoration: underline;
}

.facilities-col p {
    color: #1d1d1d;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0.1rem 0rem 0rem;
}
.facilities-col a{
    padding: 2.5%;
    margin-left: 60%;
    /* text-align: right; */
    color: #f44336;
    font-size: 1.2rem;
    text-decoration: none;
}
.facilities-col a:hover{
    color: #006eff;
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .facilities-header {
        font-size: 3.7rem;
    }

    .facilities-p {
        font-size: 1.2rem;
    }

    .facilities-col h3 {
        font-size: 1.2rem;
    }

    .facilities-col p {
        font-size: 1.0rem;
    }
    .facilities-col a{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .facilities-header {
        font-size: 3.5rem;
    }

    .facilities-p {
        font-size: 1.1rem;
    }

    .facilities-col h3 {
        font-size: 1.1rem;
    }

    .facilities-col p {
        font-size: 0.9rem;
    }
    .facilities-col a{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .facilities-header {
        font-size: 3.3rem;
    }

    .facilities-p {
        font-size: 1rem;
    }

    .facilities-col h3 {
        font-size: 1rem;
    }

    .facilities-col p {
        font-size: 0.8rem;
    }
    .facilities-col a{
        font-size: 1rem;
    }
}
/* Facilities Page end*/
/* Footer page start */
.footer {
    width: 100%;
    height: 20vh;
    text-align: center;
    padding: 2% 0%;
    background-image: linear-gradient(70deg, rgb(20, 20, 20), rgb(0, 0, 0));
}

.footer h1 {
    color: #006eff;
    font-size: 2.5rem;
}

.footer h1::after {
    content: "";
    width: 40%;
    height: 3px;
    display: block;
    background: #f44336;
    margin: auto;
    transition: 0.5s;
}

.social-media-links ul {
    display: block;
}

.social-media-links ul li {
    display: inline-block;
    margin: 2% 0% 0%;
    padding: 1% 2%;
    font-size: 1.8rem;
}

.social-media-links ul li a {
    color: #006eff;
}

.social-media-links ul li a:hover {
    color: #f44336;
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .footer h1 {
        font-size: 2.4rem;
    }

    .social-media-links ul li {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .footer h1 {
        font-size: 2.3rem;
    }

    .social-media-links ul li {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .footer h1 {
        font-size: 2.2rem;
    }

    .social-media-links ul li {
        font-size: 1.6rem;
    }
}

/* Footer page end */